:root {
  --header-height: 90px;
}

/* HEADER */
.nav-contenedor-logo--login {
  width: 100%;
}
.navbar-enlace-registro {
  font-size: 0.875rem;
  text-align: end;
}
/* el .navbar-enlace-registro a debe poseer un efecto q se crea el border boton*/
.navbar-enlace-registro a {
  color: var(--clr-secondary);
}

/* LOGIN */
.main__login {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM */
.form {
  margin: 5rem 0;
  width: 90vw;
  max-width: 550px;
  border: 1px solid var(--gray-light);
  padding: clamp(2rem, 5vw, 4rem) max(20px, 2vw);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--white);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.form > *:not(.form__titulo) {
  margin-top: 20px;
}
.form__titulo {
  margin-bottom: clamp(1rem, 2.5vw, 2.5vw);
  text-align: center;
}
.form a {
  margin-inline: auto;
}

.form__label {
  margin-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.form__input {
  width: 100%;
  padding: 10px 0px;
  font-size: clamp(1rem, 1.1rem, 1.125rem);
}
.form__input::placeholder {
  opacity: 0;
}
.form__span {
  font-size: 0.875rem;
  position: absolute;
  top: -13px;
  left: 0;
  transform: translateY(25px);
  transition-duration: 300ms;
  pointer-events: none; /* para q no se pueda hacer click en el span (placeholder) */
}
.form__boton {
  margin-top: 40px;
  background: var(--clr-primary);
  border-radius: 4px;
}
.form__boton:hover {
  background-color: var(--clr-accent--darker);
  border-color: var(--clr-accent--darker);
  color: var(--white);
}
label:focus-within > .form__span,
input:not(:placeholder-shown) + .form__span {
  /* placeholder-shown es un pseudo selector q se aplica cuando el placeholder está visible */
  color: var(--clr-secondary);
  transform: translateY(0px);
}

.form-exprience-container p {
  margin-bottom: 10px;
}
.experience-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 5px;
}
.form__label--radio {
  min-width: 120px;
  width: 45%;
  max-width: 300px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  color: var(--black);
  line-height: 36px;
  padding: 0 8px;
  border: 1px solid var(--gray);
  border-radius: 4px;
}
.form__span--radio {
  user-select: none;
  order: 1;
}
.form__input--radio {
  order: 2;
}
/* Cambiar al color de acento cuando el input está seleccionado o tiene foco */
.form__input--radio:checked + span {
  /* + permite seleccionar elementos q estan despues del input y son hermanos directos */
  color: var(--clr-primary);
}

.form-terminos-condicion__container p {
  font-size: 0.75rem;
}

/* MEDIA QUERIES */
@media (max-width: 320px) {
  .form__label--radio {
    width: 100%;
  }
}
