:root {
  --clr-bg: #f6f4ef;
  --clr-bg-footer: #bfc1b9;
  /* 60 / 30 / 10 rule */
  --clr-primary: #ee4b4a; /* 60% */
  --clr-secondary: #eaa704; /* 30% */
  --clr-accent: #ff807f; /* 10% */
  --clr-accent-light: #fae4dd;

  --clr-primary--darker: #b63231;
  --clr-secondary--darker: #b28f00;
  --clr-accent--darker: #d64a4a;

  --black: #333;
  --white: #fff;
  --black-light: #58595c;
  --gray: #d1d5da;
  --gray-light: rgb(231, 231, 231);

  --header-height: 90px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--black-light);
}
body > * {
  min-width: 320px;
}
.btn {
  color: var(--white);
  font-size: 0.938rem;
  font-weight: bold;
  line-height: 1.4;
  background-color: var(--clr-primary);
  padding: 0.625rem 0;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
  border-radius: 0.4rem;
  border: 1px solid var(--clr-primary);
}
.btn:hover {
  background-color: var(--clr-accent--darker);
}
li:active,
.btn-effect:active {
  transform: scale(0.9);
}
.btn--header {
  padding: 0.438rem 0.75rem;
  width: 110px;
  font-size: 0.875rem;
}
.btn--header--white,
.btn--footer--white {
  color: var(--black);
  /* box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 2px 0 rgba(0, 0, 0, 0.05); */
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  border-color: var(--gray-light);
  background-color: var(--white);
}
.btn--header--white:hover,
.btn--footer--white:hover {
  background-color: var(--gray-light);
}
.btn--footer--white:hover {
  border-color: var(--gray-light);
}
.icon {
  /* clamp con maximo de 36px */
  width: clamp(24px, 8vw, 36px);
  height: auto;
  filter: invert(62%) sepia(64%) saturate(1112%) hue-rotate(311deg)
    brightness(106%) contrast(118%);
}

/* HEADER */
header {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
}
nav,
footer,
section {
  margin-inline: auto;
  width: calc(100% - 9vw);
}
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
}
nav > * {
  height: var(--header-height);
}
.nav-contenedor-logo {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-contenedor-logo h2 {
  line-height: 48px;
  padding-right: clamp(5px, 1vw, 1.5vw);
  margin-right: clamp(5px, 1vw, 1.5vw);
  border-right: 1px solid var(--gray-light);
}
.nav-contenedor-logo .toggle-menu {
  display: none;
}
.nav-contenedor-enlaces {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
}
#toggle-menu {
  display: none; /* oculto el checkbox */
}
.navbar-enlaces-list {
  min-width: fit-content;
  width: 20vw;
  max-width: 400px;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap con clamp con maximo de 10px */
  gap: clamp(5px, 1vw, 1.5vw);
}
.navbar-enlaces-buttons {
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  gap: clamp(5px, 1vw, 1.5vw);
}
.navbar-enlaces-buttons > *:first-child {
  margin-right: auto;
}
li {
  width: fit-content;
  min-width: fit-content;
}

/* MAIN */
main {
  width: 100%;
  height: auto;
}

/* default section */
main > section {
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: clamp(2rem, 4vw, 3rem) auto;
  padding: clamp(2rem, 4vw, 4rem) 2.5vw;
  border-radius: 2rem;
}

/* HERO */
.hero {
  min-height: 370px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
  column-gap: clamp(0.5rem, 1vw, 1rem);
  margin-block: clamp(1rem, 10vw, 3rem);
  padding-inline: 0;
  background-color: var(--clr-accent-light);
}
.hero-content {
  width: fit-content;
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: max(20px, 1vw);
  padding-left: 2.5vw;
}
.hero-content-info {
  font-size: clamp(0.75rem, 1.25vw, 1rem);
  width: 90%;
  font-weight: 600;
}
.hero-img-container {
  min-width: 400px;
  height: auto;
  grid-area: 1 / 2 / 3 / 3;
  overflow: hidden;
}
.hero-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* about us */
.about-us__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(1rem, 2.5vw, 2.5rem);
}
.about-us__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vw 10px;
}
.about-us__info > div {
  margin: 0 clamp(0.5rem, 1vw, 1rem);
}
.about-us__text {
  flex: 1;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}
.about-us__text__subtxt {
  padding: clamp(1rem, 2.5vw, 2.5rem) 0 clamp(0.75rem, 1.5vw, 1.5rem) 0;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.icon--burger {
  display: none;
}
.about-us__text h3 {
  font-family: var(--font-heading);
}
.about-us__text p {
  line-height: 1.7;
  font-weight: 400;
  padding-left: 0.5rem;
}
.about-us__text p:last-child {
  margin-bottom: auto;
}
.about-us__imgs {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: clamp(1rem, 2vw, 2rem) clamp(0.5rem, 1vw, 1rem);
}
.about-us__img {
  min-width: 175px;
  width: calc(50% - 0.5rem);
  max-width: 300px;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
}
.about-us__img:last-child {
  align-self: flex-end;
  margin-left: auto;
}

/* Recetas */
.recetas__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2.5vw, 2.5rem);
}
.recetas__header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: clamp(1rem, 2.5vw, 2.5rem);
}
.recetas__comunidad {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 3.5vw, 3rem);
}
.receta__container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "img info";
  grid-column-gap: clamp(1rem, 2.5vw, 2.5rem);
  padding: 0 clamp(1rem, 2.5vw, 2.5rem) 0 0;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.receta__container:hover {
  transform: scale(1.01);
}

.receta__info {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-row-gap: clamp(0.25rem, 1.5vw, 1.5rem);
  grid-column-gap: clamp(1rem, 2vw, 2rem);
  grid-template-areas: "tittle icons" "description description ";
  padding: 0.875rem 0;
}
.receta__info > * {
  line-height: 1;
}
.receta__img {
  grid-area: img;
  max-width: clamp(120px, 20vw, 200px);
  height: 100%;
  object-fit: cover;
  border-right: 1px solid var(--gray-light);
}
.receta__tittle {
  grid-area: tittle;
  align-self: center;
}
.receta__description {
  grid-area: description;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 1.1;
}
.receta__icons-container {
  grid-area: icons;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.receta__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 2vw, 1.25rem);
  color: var(--black-light);
}
.icon--receta {
  font-size: clamp(0.75rem, 2vw, 1rem);
  display: flex;
  gap: 2rem;
  padding-bottom: 0.2px;
}
/* Unete */
.unete {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid var(--clr-accent);
  text-align: center;
  padding-block: clamp(2.5rem, 4.5vw, 4.5rem) 0;
}
.unete__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: clamp(2.5rem, 4.5vw, 4.5rem) 0;
}
.unete__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: clamp(1rem, 2.5vw, 2.5rem);
}
.unete p {
  font-size: 1.25rem;
  width: 75%;
}
.btn--unete {
  width: fit-content;
  border-radius: 99999rem;
  font-size: 1.125rem;
  padding-inline: 3vw;
}
.unete__img {
  /* width: 75%; */
  position: relative;
  left: 50%; /* ajusta esta propiedad según la posición horizontal que desees */
  transform: translate(-50%, -10%);
  z-index: -1;
}

.container {
  width: 90%;
  max-width: 90rem; /* 1440px */
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */
footer {
  /* background-color: var(--clr-bg-footer); */
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: auto;
  color: var(--black-light);
  text-transform: capitalize;
}
.footer-container .footer-tittle {
  padding-bottom: 1.5rem;
}
.footer__tittle--color {
  color: var(--black-light);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem 5vw;
  padding: clamp(3rem, 4vw, 5rem) 0;
  /* 
    clamp() -> nos permite definir um valor minimo, um valor preferencial e um valor máximo
   */
  border-top: 1px solid var(--black-light);
}
.footer-content-links {
  flex-grow: 1;
  max-width: 550px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 5vw;
  justify-content: space-between;
}
.footer-link-heading {
  margin-bottom: 0.7rem;
}
.footer-link-col {
  max-width: fit-content;
}

.footer-link-col > ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.footer-links:hover {
  color: var(--black);
  font-weight: 500;
}
.footer-content-buttons {
  flex-grow: 1;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.5rem;
}
.footer-button {
  width: 250px;
  text-align: center;
}
.footer-sub {
  font-size: 0.9375rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.25rem 1.5rem;
}
.footer-sub p {
  line-height: 1.7;
  font-weight: 400;
}
.footer-sub > .policy-and-terms {
  display: flex;
  align-items: end;
  gap: 1rem;
}

/* MEDIA QUERIES */
/* Laptop */
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1100px) {
  .about-us__img {
    width: 75%;
    max-height: 250px;
  }
}
@media screen and (max-width: 910px) {
  .hero {
    column-gap: 0;
  }
  .hero-content {
    text-align: center;
    align-items: center;
  }
  .hero-img-container {
    display: none;
  }
  .hero-content-info {
    width: 90%;
    font-size: 1rem;
  }
}
/* TABLET */
@media screen and (max-width: 768px) {
  nav,
  footer,
  section {
    width: calc(100% - 7.5vw);
  }
  .about-us__img {
    max-height: 250px;
  }
}

@media screen and (max-width: 670px) {
  nav {
    height: 100%;
    flex-direction: column;
  }
  .nav-contenedor-logo {
    width: 100%;
  }
  .nav-contenedor-logo h2 {
    border-right: none;
  }
  .nav-contenedor-logo .toggle-menu {
    display: block;
  }
  .nav-contenedor-enlaces {
    width: 100%;
    background-color: var(--white);
    padding: 1.25rem 0 1.25rem 0;
    border-radius: 0 0 16px 16px;
    border-top: 1px solid rgb(231, 231, 231);
    display: none;
    flex-direction: column;
    justify-content: center;
  }
  .nav-contenedor-enlaces a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-enlaces-list {
    flex-direction: column;
    margin: 0.25rem 0;
    font-size: 1.429rem;
  }
  .navbar-enlaces-buttons {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
  .navbar-enlaces-buttons li {
    width: 100%;
  }
  .btn--header {
    min-width: 100%;
    font-size: 1.35rem;
  }
  #toggle-menu:checked ~ .nav-contenedor-enlaces {
    display: flex;
  }
}
@media screen and (max-width: 609px) {
  .icon--burger {
    display: block;
  }
  .about-us__img {
    max-height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .footer-content-links {
    justify-content: space-around;
  }
  .footer-content-buttons {
    align-items: center;
  }
  .receta__icons-container {
    flex-direction: column;
    justify-content: center;
  }
}

/* MOBILE */
@media screen and (max-width: 425px) {
  nav,
  footer,
  section {
    width: calc(100% - 5.5vw);
  }
  footer {
    padding-inline: 2.5vw;
  }
  .about-us__img {
    width: 100%;
    max-width: 100%;
  }
  .about-us__text {
    min-width: 280px;
  }
}
/* MOBILE M */
@media screen and (max-width: 375px) {
  .hero {
    min-height: auto;
  }
}

/* FIXME: ELIMINAR ESTAS LINEAS DE PRUEBA */
.prueba {
  margin: 5rem auto;
  width: 800px;
  height: 800px;
  border: 1px solid salmon;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box {
  width: 200px;
  height: 200px;
  border: 1px solid transparent;
}
.box--clr-primary {
  background-color: var(--clr-primary);
}
.box--clr-secondary {
  background-color: var(--clr-secondary);
}
.box--clr-accent {
  background-color: var(--clr-accent);
}
.box--clr-primary--darker {
  background-color: var(--clr-primary--darker);
}
.box--clr-secondary--darker {
  background-color: var(--clr-secondary--darker);
}
.box--clr-accent--darker {
  background-color: var(--clr-accent--darker);
}
